* {
  margin: 20px;
  /* padding: 0; */
  margin-right: 0;

  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  flex-direction: row;
  margin: 0;
}
button {
  font-family: "Roboto", sans-serif;
}
header {
  display: flex;
  width: 100%;
  height: 10vh;
  background-color: #000000cc;
  padding: 0.3em 1em;
  align-items: center;
  justify-content: space-around;
  background: linear-gradient(to right, rgb(32, 31, 31), #848491);
}
.main {
  padding: 0.3em 1em;
}
.logo {
  float: left;
  color: white;
  display: flex;
  font-size: 60px;
  float: left;
}

.container,
.nav-links {
  display: flex;
  margin-right: 0px;
  margin-top: 40px;
}

.container {
  font-weight: 20px;
  margin: 5px;
  left: 0px;
  padding: 0.3em 1em;
}

ul li {
  padding: 0px 0px;
  margin: 10px 0px;
  justify-content: space-around;
  display: flex;
  list-style: none;
  border: 1px;
  font-size: 120%;
}

a:visited {
  color: white;
}
a:active {
  color: grey;
}
.nav-link {
  margin: 10px;
  color: #f5f5f7;
  font-size: 90%;
  text-decoration: none;
}
nav {
  text-align: right;
  padding: 1em 2em;
}

/*  */

.cart {
  display: flex;
  padding: 0.3em 2em;
  margin: 1em 2em;
  justify-content: flex-end;
  color: white;
  font-size: 100%;
}
.presentation {
  background-color: whitesmoke;
  display: flex;
  width: 90%;
  margin: auto;
  min-height: 80vh;
}
.introduction {
  flex: 1;
}

.intro-text h1 {
  font-size: 44px;
  font-weight: 500;
  background: linear-gradient(to right, #494964, #9a9abb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.intro-text p {
  margin: 2em;
  margin-top: 5px;
  font-size: 22px;
  color: #585772;
}
.cover {
  flex: 1;
}
.cover img {
  height: 80vh;
  width: 60vh;
  animation: drop 1.5s ease;
}
.cto {
  padding: 50px 0px 0px 0px;
}
.cta-select,
.cta-add {
  border: 2px solid #9b969a;
  color: #9b969a;
  background: transparent;
  width: 150px;
  height: 50px;
  cursor: pointer;
  font-size: 20px;
}
/*  */
@keyframes drop {
  0% {
    opacity: 0;
    transform: translateY(-80px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@media screen and (max-width: 1240px) {
  .presentation {
    flex-direction: column;
  }
  .introduction {
    margin-top: 5vh;
    text-align: center;
  }
  .intro-text h1 {
    font-size: 55px;
  }
  .cta {
    padding: 10px 0px 0px 0px;
  }
  .header {
    flex-direction: row;
    width: 5px;
  }
}

#fixed .bag {
  position: fixed;
  right: 10px;
  bottom: 10px;
  padding: 5px 20px 0px 14px;
  border-radius: 30px;
  border: 2px solid #8b848a;
}
.bag {
  font-size: 35px;
  color: #8b848a;
}

/* section 2 */

.intro-text2 p {
  align-items: center;
  /* display: flex; */
  padding: 10px 0px 0px;
  margin-bottom: 0px;
  margin: 0px 137.188;
  font-size: 22px;
  color: #585772;
}
.intro-text2 h1 {
  position: relative;
  padding: 8px 0px 0px;
  font-size: 44px;
  font-weight: 500;
  background: linear-gradient(to right, #494964, #9a9abb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.intro-text2 .text2 {
  position: relative;
  justify-content: center;
  font-size: 50px;
  margin: 0px 98px;
}

.text1 {
  font-size: 40px;
}

.presentation2 {
  flex-wrap: wrap;
}

.video {
  position: relative;
  margin: 0px;
  padding: 0px;
  bottom: 5px;
  text-align: center;
}
.livephoto {
  left: 100%;
}
.iphone12 h2 {
  margin: 0px;
  color: #302f4d;
  font-size: 50px;

  position: relative;
}
.iphone12 p {
  margin-top: 18px;
  margin-left: auto;
  margin-right: auto;
  width: 980px;
  color: #585772;
  font-size: 30px;
}

.i {
  font-size: 40px;
  margin: 0px;
  padding: 0px;
}
